<!-- Sidebar Start -->
<aside class="col-md-3 col-sm-3">
    <div class="blog-sidebar-widget light-bg default-box-shadow">
        <h4 class="widget-title green-bg"><span> Search Widget </span></h4>
        <div class="blog-widget-content">
            <form class="search-form" action="#">
                <label>
                    <span class="screen-reader-text">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Keyword" value="" name="s" title="Search for:">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>
        </div>
    </div>
    <div class="blog-sidebar-widget light-bg default-box-shadow">
        <h4 class="widget-title pink-bg"> <span>  CATEGORIES  </span> </h4>
        <div class="blog-widget-content">
            <ul>
                <li class="cat-item"> <a href="">Baby Clothes</a> </li>
                <li class="cat-item"> <a href="">Kids Clothes</a> </li>
                <li class="cat-item"> <a href="">Footwear</a> </li>
                <li class="cat-item"> <a href="">Toys & Books</a> </li>
                <li class="cat-item"> <a href="">Care & Feeding</a> </li>
                <li class="cat-item"> <a href="">Baby Gear & Nursery</a> </li>
                <li class="cat-item"> <a href="">Moms & Maternity</a> </li>
            </ul>
        </div>
    </div>
    <div class="blog-sidebar-widget light-bg default-box-shadow">
        <h4 class="widget-title purple-bg"> <span> Tag Widget </span> </h4>
        <div class="blog-widget-content tagcloud">
            <a href="#"> children </a>
            <a href="#"> baby </a>
            <a href="#"> wootheme </a>
            <a href="#"> kids </a>
            <a href="#"> shop </a>
            <a href="#"> Woo Commerce </a>
            <a href="#"> kidstore </a>
            <a href="#"> shopping </a>
            <a href="#"> dress </a>
            <a href="#"> girls </a>
            <a href="#"> boys </a>
            <a href="#"> all </a>
        </div>
    </div>
    <div class="blog-sidebar-widget light-bg default-box-shadow">
        <h4 class="widget-title golden-bg"> <span> Archives </span> </h4>
        <div class="blog-widget-content">
            <ul>
                <li class="arch-item"> <a href="#">June 2015 </a> </li>
                <li class="arch-item"> <a href="#"> May 2015 </a> </li>
                <li class="arch-item"> <a href="#"> April 2015 </a> </li>
                <li class="arch-item"> <a href="#"> March 2015 </a> </li>
                <li class="arch-item"> <a href="#"> February 2015 </a> </li>
                <li class="arch-item"> <a href="#"> January 2015 </a> </li>
            </ul>
        </div>
    </div>
    <div class="blog-sidebar-widget light-bg default-box-shadow widget-colors">
        <h4 class="widget-title dark-blue-bg"> <span> Text Widget </span> </h4>
        <div class="blog-widget-content text-widget">
            <h2 class="section-title space-bottom-20">
                                        <span>
                                            <span class="funky-font dark-blue-tag">Title </span>
                                            <span class="italic-font">Text</span>
                                        </span>
            </h2>
            <p>Cras sit amet imperdiet lorem. Mauris euismod  sed risus elementum faucibus. Sed enim nibh, sectetur sit amet quam et, sagittis semper arcu. </p>
            <a class="dark-blue-color title-link" href="#"> Read More <i class="fa fa-caret-right"></i> </a>
        </div>
    </div>
</aside>
<!-- / Sidebar Ends -->