{% extends 'AppBundle::Mondedesjouets/layout.html.twig' %}

{% block breadcrumbs %}
    <!-- Breadcrumbs Start -->
    <section class="breadcrumb-bg margin-bottom-80">
        <span class="gray-color-mask color-mask"></span>
        <div class="theme-container container">
            <div class="site-breadcrumb relative-block space-75">
                <h2 class="section-title">
                            <span>
                                <span class="funky-font blue-tag">News </span>
                                <span class="italic-font">From Blog</span>
                            </span>
                </h2>
                <h3 class="sub-title">{{ post.getTitle()|raw }}</h3>
                <hr class="dash-divider">
                <ol class="breadcrumb breadcrumb-menubar">
                    <li><a href="#">Home</a>  &gt;  <span class="blue-color"> {{ post.getTitle()|raw }} </span> </li>
                </ol>
            </div>
        </div>
    </section>
    <!-- / Breadcrumbs Ends -->
{% endblock %}

{% block content %}
    <!-- Blog -->
    <div class="theme-padding white-bg">
        <div class="container">
            <div class="row">

                <!-- Posts Start -->
                {% include 'AppBundle:Mondedesjouets/Blog/bloc:article.html.twig' with {'post': post} %}
                <!-- Posts Ends -->

                {{ render(controller('AppBundle:Partials:sidebar',  {} )) }}

            </div>
        </div>
    </div>
    <!-- Blog -->
{% endblock %}