{% extends 'AppBundle::Mondedesjouets/layout.html.twig' %}

{% block breadcrumbs %}
    <!-- Breadcrumbs Start -->
    <section class="breadcrumb-bg margin-bottom-80">
        <span class="gray-color-mask color-mask"></span>
        <div class="theme-container container">
            <div class="site-breadcrumb relative-block space-75">
                <h2 class="section-title">
                            <span>
                                <span class="funky-font blue-tag">News </span>
                                <span class="italic-font">From Blog</span>
                            </span>
                </h2>
                <h3 class="sub-title">{{ category.getTerm().getName() }}</h3>
                <hr class="dash-divider">
                <ol class="breadcrumb breadcrumb-menubar">
                    <li><a href="#">Home</a>  &gt;  <span class="blue-color"> {{ category.getTerm().getName() }} </span> </li>
                </ol>
            </div>
        </div>
    </section>
    <!-- / Breadcrumbs Ends -->
{% endblock %}

{% block content %}
    <!-- Blog -->
    <div class="theme-padding white-bg">
        <div class="container">
            <div class="row">

                <!-- Posts Start -->
                <aside class="col-lg-9 col-md-9 col-sm-12 col-xs-12 r-full-width">
                    <div class="blog-post-wrap space-bottom-45">
                        {% for post in posts %}

                            {% include 'AppBundle:Mondedesjouets/Blog/bloc:article_list.html.twig' with {'post': post} %}

                        {% endfor %}
                    </div>
                </aside>
                <!-- Posts Ends -->

                {{ render(controller('AppBundle:Partials:sidebar',  {} )) }}

            </div>
        </div>
    </div>
    <!-- Blog -->
{% endblock %}